.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }

.section{
    background-color: #232323 !important;
}
html{
    background-color: #232323;
    scroll-behavior: smooth;
}
.container{
    padding-left: 139px;
    padding-right: 139px;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
}

.flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-color: #232323;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1000;
}

.text-logo{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: #fff;
}

.header-logo-box{
    display: flex;
    font-weight: 500;
    font-size: 24px;
    align-items: center;
}

.header-logo{
    height: 30px;
}

.mobile-header-menu a{
    height: 20px;
    width: 20px;
    margin: auto;
    margin-right: 40px;
}

.logo{
    margin-right: 20px;
    height: 45px !important;
}

.wall{
    background-color: #FFFFFF;
    height: 30px;
    width: 3px;
    border-radius: 10px;
    margin: 0 9px;
}

.logo-text{
    max-width: 420px;
    font-family: 'Montserrat' , sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
}

.header-contacts{
    font-family: 'Montserrat' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
}

.header-contacts a {
    color: #fff;
    text-decoration: none;
}

.main{
    background-color: #232323;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-box,
.advantage-box,
.advantage-box-7days,
.advantage-box-report,
.advantage-box-own-manager,
.advantage-box-creative{
    width: 722px;
    background-color: #0084FF;
    color: #fff;
    padding: 50px;
    border-radius: 30px;
    height: 441px;
    box-sizing: border-box;
}

.main-box-title,
.advantage-title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0em;
    max-width: 630px;
    text-align: left;
    text-transform: uppercase;
}

.main-box-text{
    font-family: 'Montserrat' , sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 26px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 406px;
    color: #000;
    background-color: #fff;
    border-radius: 30px;
    height: 441px;
    box-sizing: border-box;
}

.contact-form-title{
    font-family: 'Montserrat' , sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    padding: 50px;
}

.contact-form-input{
    border: none;
    background-color: #fff;
    border-bottom: 1px #95DDFF solid;
    font-family: 'Montserrat' , sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 5px;
    outline: none;
}

.contact-form-input::placeholder{
    font-family: 'Montserrat' , sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}


.contact-form-input:nth-child(3){
    margin-top: 50px;
}

.contact-form-button{
    background-color: #0084FF;
    border-radius: 34px;
    color: #fff;
    font-family: 'Montserrat' , sans-serif , sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    cursor: pointer;
    height: 68px;
    width: 265px;
    margin-top: 68px;
}

.switch{
    position: fixed;
    right: 62px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.switch-item{
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    margin-bottom: 17px;
    cursor: pointer;
    z-index: 100;
    transition: .3s;
}

.active{
    height: 38px;
    background-color: #0084FF;
    border-radius: 7.5px;
}

.advantage-box{
    width: 384px;
    height: 272px;
    padding: 45px;
}

.advantage-title{
    font-size: 64px;
    line-height: 64px;
}

.advantages-title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #4B4B4B;
}

.blue-text{
    color: #0084FF;
}

.advantage-box-7days{
    position: relative;
    background-color: #fff;
    width: 433px;
    height: 272px;
    padding: 32px;
    margin-left: 20px;
}

.advantage-icon-wrap{
    display: flex;
    position: absolute;
    bottom: 16px;
    right: 21px;
}

.advantages-text{
    font-family: 'Muller';
    font-size: 19px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #4B4B4B;
    margin-top: 10px;
}

.advantage-box-report{
    position: relative;
    width: 489px;
    height: 186px;
    background-color: #fff;
    padding: 30px;
}

.report-img{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.mt-23{
    margin-top: 23px;
}

.advantage-box-own-manager{
    background-color: #fff;
    width: 332px;
    height: 186px;
    padding: 30px 16px;
    margin-left: 20px;
}

.advantage-get-consult-button-wrap{
    width: 282px;
    height: 48px;
    background: #0084FF;
    border-radius: 24px;
    color: #fff;
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    margin-top: 13px;
}

.advantage-get-consult-button-arrow-wrap{
    background-color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advantage-box-creative{
    width: 289px;
    height: 477px;
    background-color: #fff;
    padding: 25px;
    position: relative;
    overflow: hidden;
}

.advantages{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.jcsb{
    justify-content: space-between;
}

.advantage-box-creative-img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.services{
    height: 100vh;
    padding: 0 194px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services-title{
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    color: #fff;
    text-align: center;
    height: 68px;
    width: 156px;
    background-color: #0084FF;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 38px;
}

.services-el-title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    color: #fff;
    align-self: center;
    text-transform: uppercase;
}

.services-el-wrap{
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 1px solid#FFFFFF80;
    margin-bottom: 27px;
}

.services-el-wrap:hover .services-el-title{
    color: #0084FF;
}

.services-el-wrap:hover .services-el-button{
    color: #0084FF;
    background-color: #0084FF;
    background-image: url(./img/white-arrow.svg);
}

.services-el-button{
    height: 78px;
    width: 78px;
    background-color: #EFEFEF;
    border-radius: 15px;
    background-image: url(./img/blue-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.trial{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.trial-title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    color: #fff;
}

.trial-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    color: #fff;
    margin-top: 40px;
}

.trial-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer{
    position: relative;
    height: 100vh;
    padding-bottom: 65px;
    padding-top: 200px;
}

.footer-title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    color: #fff;
}

.footer-images{
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-images-el{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line{
    height: 1px;
    width: 95%;
    background-color: #909090;
    margin-bottom: 42px;
    margin-left: auto;
    margin-right: auto;
}

.footer-contacts-tel{
    margin-top: 22px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.footer-contacts-tel a {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;   
    text-decoration: none;
    margin-top: 5px;
}

.footer-contacts-wrap{
    display: flex;
    justify-content: space-between;
}

.service-pop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding-left: 35px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
    display: none;
    width: 1080px;
    z-index: 10;
}

.service-pop-title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    margin-top: 51px;
}

.service-pop-text{
    font-family: 'Muller', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 25px;
}

.contact-form-pop{
    background-color: #0084FF;
    color: #fff;
    padding-bottom: 41px;
}

.contact-form-pop button{
    background-color: #fff;
    color: #0084FF;
    height: 68px;
}

.contact-form-pop h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.pop-close-button{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

.contact-form-pop input{
    background-color: #0084FF;
    color: #fff;
}

.contact-form-pop input::placeholder{
    color: #fff;
}

.lists{
    font-family: 'Muller', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
}

.lists:nth-child(2){
    margin-left: 40px;
}

.lists-el{
    margin: 27px 10px;
    position: relative;
}

.lists-el::before{
    content: '';
    height: 1px;
    width: 30px;
    background-color: #808080;
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
}

.lists-wrap{
    display: flex;
    margin-top: 20px;
    margin-top: 60px;
    margin-left: 20px;
}

.mobile-header-menu{
    display: none;
}

.advantage-box-report-mobile{
    display: none;
}

.advantage-box-creative-mobile{
    display: none;
}

.advantage-box-own-manager-mobile{
    display: none;
}

.contactButton{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    width: 60px;
    height: 320px;
    overflow: hidden;
    border-radius: 50px;
}

.contactButton-links{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    padding-bottom: 60px;
    transition: .5s ease-in-out;
    margin-top: 1000px;
}

.contactButton-el{
    margin-top: 15px;
    margin-bottom: 15px;
}

.contactButton-el-main{
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    background-color: #0084FF;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    z-index: 3;
}

.footer-social-links-el:first-child{
    margin-right: 15px;
}

.mobile-get-consult{
    display: none;
}

.contactpop{
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4b4b4b48;
    display: none;
}

.headerMenu{
    display: none;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
    transition: .5s;
}

.headerMenu_link{
    margin-top: 5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
}

.thankyou{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    z-index: 99999;
    background-color: #232323;
}

.thankyou-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 69px;
    width: 580px;
}

.thankyou-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    width: 580px;
    margin-top: 23px;
}

.thankyou-content{
    background-color: #0084FF;
    width: 622px;
    padding: 29px 45px;
    border-radius: 30px;
}

.thankyou-other{
    background-color: #fff;
    color: #0084FF;
    border-radius: 30px;
    padding: 29px 45px;
}

.thankyou-other-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    width: 302px;
}

.finger{
    transform: rotate(90deg);
}

.thankyou-other img{
    height: 60px;
}

.thankyou-other-links{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.thankyou-footer-box{
    margin-top: 100px;
}

.footer-politic-link{
    font-weight: normal !important;
    font-size: 17px !important;
}

@media screen and (max-width: 600px) {
    .header-logo-box .logo{
        display: none;
    }

    .wall{
        display: none;
    }

    .header-logo-box{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .container{
        padding-left: 18px;
        padding-right: 18px;
    }

    .header-logo{
        height: 24px;
    }

    .logo-text{
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        margin-top: 5px;
    }

    .header-contacts{
        display: none;
    }

    .mobile-header-menu{
        display: flex;
    }

    .main{
        flex-direction: column;
        justify-content: start;
        height: auto;
    }

    .main-box{
        width: 100%;
        height: 170px;
        padding: 21px;
    }

    .main-box-title{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 51px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
    }

    .contact-form{
        width: 100%;
        margin-top: 18px;
        padding: 21px;
        height: auto;
        padding-bottom: 60px;
    }

    .contact-form-title{
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: 0em;
    }

    .main-box-text{
        display: none;
    }

    .contact-form-input:nth-child(2){
        margin-top: 28px;
    }

    .contact-form-button{
        margin-top: 30px;
    }

    .mobile-header-menu-el:nth-child(1){
        margin-right: 52px;
    }

    .advantages {
        flex-direction: column;
    }

    .advantages-wrap > div:nth-child(2){
        display: none;
    }

    .advantages-wrap > div{
        flex-direction: column;
    }

    .advantages{
        margin-top: 18px;
        height: auto;
    }

    .advantage-box,
    .advantage-box-7days,
    .advantage-box-report,
    .advantage-box-own-manager,
    .advantages-wrap,
    .advantage-box-report-mobile{
        width: 100%;
        margin: 0;
        border-radius: 15px;
    }

    .advantage-box{
        height: 109px;
        padding: 21px;
    }

    .advantage-title{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        width: 248px;
    }

    .advantages-title{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
    }

    .advantages-text{
        font-family: 'Muller', sans-serif   ;
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        width: 214px;
    }

    .advantage-box-7days{
        height: 136px;
        padding: 21px;
        margin-top: 18px;
    }

    .advantage-box-creative{
        display: none;
    }

    .advantage-box-report-mobile{
        display: block;
    }

    .advantage-box-report-mobile{
        background-color: #fff;
        height: 136px;
        width: 100%;
        border-radius: 15px;
        margin-top: 22px;
        padding: 21px;
        box-sizing: border-box;
        position: relative;
    }

    .advantage-box-report-mobile .advantage-title{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        color: #4B4B4B;
    }

    .advantage-box-report-mobile .report-img{
        height: 130px;
    }

    .advantage-icon-wrap img{
        height: 35px;
        margin: 0 5px;
    }

    .header{
        position: relative;
    }

    .switch{
        display: none;
    }

    html,body{
        overflow: visible;
    }

    .services{
        padding: 0;
        justify-content: start;
        margin-top: 50px;
        height: auto;
    }

    .services-el-title{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 22px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        margin-left: 30px;
    }

    .services-el-button{
        height: 33px;
        width: 33px;
        border-radius: 7px;
        background-size: 15px;
        margin-right: 19px;
    }

    .services-title{
        margin-left: 18px;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        padding: 10px 0;
        height: auto;
        width: 105px;
    }

    .advantage-box-creative-mobile{
        display: block;
        background-color: #fff;
        padding: 21px;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        border-radius: 15px;
        margin-top: 18px;
        height: 420px;
    }

    .advantage-box-creative-mobile .advantages-title{
        width: 210px;
    }

    .advantage-box-creative-mobile .advantages-text{
        width: 100%;
    }

    .advantage-box-creative-mobile img {
        width: 100%;
        height: 560px;
    }
    .advantage-box-own-manager-mobile{
        display: block;
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 15px;
        margin-top: 18px;
        padding: 21px;
    }

    .advantage-box-own-manager-mobile .advantage-get-consult-button-wrap{
        display: block;
        margin: 12px auto 0 auto;
    }

    .contact-form-trial{
        display: none;
    }

    .trial{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        height: auto;
    }
    
    .trial-content{
        width: 100%;
        align-items: center;
    }

    .trial-title{
        font-family: "Bebas Neue", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
    }

    .trial-text{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        margin-top: 20px;
    }

    .advantage-get-consult-button-wrap{
        margin-top: 20px;
    }

    .footer{
        width: 100%;
        padding-top: 0;
        margin-top: 40px;
        padding-bottom: 0;
        height: auto;
    }

    .footer-title{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        width: 172px;
    }

    .footer-images{
        margin-top: 21px;
    }

    .footer-contacts{
        padding: 0 18px;
    }

    .footer-images-el{
        width: 40%;
    }

    .footer-contacts{
        position:unset;
    }

    .footer-contacts-wrap{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding-bottom: 20px;
    }

    .footer-contacts-tel{
        margin-bottom: 20px;
    }

    .footer-logo-box{
        align-items: center;
    }

    .footer-social-links{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-header-menu a{
        
    }
    
    .service-pop{
        position: fixed;
        flex-direction: column;
        width: 90%;
        box-sizing: border-box;
        height: auto;
        justify-content: start;
        padding: 30px 21px;
    }

    .lists-wrap{
        flex-direction: column;
        margin-top: 30px;
    }

    .lists:nth-child(2) .lists-el:last-child{
        margin-bottom: 0;
    }

    .lists-el{
        font-size: 15px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0em;
        margin-top: 0;
    }

    .lists:nth-child(2){
        margin-left: 0;
    }

    .lists-el:nth-child(1){
        margin-top: 0;
    }

    .service-pop-title{
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 0;
    }

    .service-pop-text{
        font-size: 17px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 16px;
    }

    .contact-form-pop{
        padding-bottom: 10px;
    }
    
    .contact-form-pop .contact-form-input{
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        width: 100%;
        margin-top: 10px;
    }

    .contact-form-pop .contact-form-input::placeholder{
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
    }

    .contact-form-pop .contact-form-button{
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 0em;
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
    }

    .text-logo{
        font-size: 35px;
        font-weight: 700;
        line-height: 20px;
    }

    .footer-social-links a:nth-child(1){
        margin-right: 20px;
    }

    .pop-close-button{
        position: absolute;
        top: 25px;
        right: 25px;
        left: auto;
        cursor: pointer;
    }

    .advantage-get-consult-button-wrap{
        display: none;
    }

    .mobile-get-consult{
    display: flex;
   }
  }
  

  @media screen and (max-width:  450px) {
    .advantage-box-creative-mobile img {
        width: 100%;
        height: auto;
    }
  }
 
  @media screen and (max-width:  370px) {
    .advantage-get-consult-button-wrap {
        width: 100%;
        font-size: 13px;
    }

    .advantage-box-7days {
        height: 170px;
    }
  }
  